<div class="container-fluid">
    <div class="card" style="width: 18rem;">
        <div class="card-body">

        <p>Degrees (°C): 
            <input
            #userInput 
            name="userInput"
            type="text" 
            placeholder="Enter Here">
        </p> 

        <p>To:
            <select [(ngModel)]="unit" class="form-select" aria-label="Default select example">
            <option value="f">Fahrenheit</option>
            <option value="k">Kelvin</option>
            </select>
        </p> 
       
        <button (click)="convert(userInput.value)" type="button" class="btn btn-outline-danger">Convert</button>

        <br>
        <br>

        <p>Results:
           {{this.results}}
        </p>

        </div>
    </div>

</div>


